.product {
  display: grid;
  grid-template-columns: 40px 50px 69px 92px 162px 253px 231px 133px 113px 99px 106px;
  padding-bottom: 20px;
  align-items: center;

  div {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    border: 0.5px solid black;
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    object-fit: cover;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #262626;
    font-size: 12px;

  }

  .brand {
    margin-left: 10px;
  }
}

.div {
  height: 1px;
  background-color: gray;
  width: 1300px;
  margin: 0px auto 20px;
}
